@model TAREAS_AGAMVC.Models.Tarea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionTar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionTar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusTar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatusTar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCatNavigation.NombreCat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdColNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdColNavigation.NombreCol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
