@model IEnumerable<TAREAS_AGAMVC.Models.Tarea>

@{
    ViewData["Title"] = "IndexF";
}


<h2>Finalizadas</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusTar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCatNavigation)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstatusTar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdColNavigation.NombreCol)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdTar">Detallado</a>
                </td>
            </tr>
        }
    </tbody>
</table>